@model FaQViewModel

@{
    ViewBag.Title = "-Create new FAQ-";
}

<div class="text-center bg-dark text-white rounded">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<div class="row-md-4 bg-dark text-white rounded-3 text-center">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Question" class="form-label mt-5">Question</label>
                <textarea asp-for="@Model.Question" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Answer" class="form-label mt-5">Answer</label>
                <textarea asp-for="@Model.Answer" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mb-5" value="Save">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}